.spasing-form{
    margin-left: 37%;
    margin-top: 10%;
    margin-bottom: 10%;
    
}

.spasing-field{
    margin-bottom: 9%;
    width: 200%;
}
.backColor{
 background-color: #ee82ee;
 width: 10px;
}
