.car_info{
    width: 77em;
    height: 30em;
    margin-left: 1%;
    margin-top: 5%;
    display: grid;
    margin-bottom: 45%;
    
}
.car_block{
    width: 77em;
    height: 30em;
    margin-top: 0%;
   
}
.car_block2{
    width: 77em;
    height: 40em;
    margin-top: 2%;
   
}
.contacs{
    width: 23em;
    height: 30em;
    margin-left: 1%;
    margin-top: 11.6%;
    

}
